:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
// reusable
@import "./mixInStyles";
// animation
@import "./animation";

* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* Start Sidebar */
@import './profileModel';
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  @import "./sidebar";

  .content {
    width: 100%;
    background-color: #f1f5f9;
    overflow: hidden;
    @import "./header";

    @import "./mainTitle";

    div{ 
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .addProductBtn {
        display: block;
        margin-left: auto;
        margin-bottom: 20px;
        margin-right: 25px;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        border: 0;
        background: #003fa7;
        cursor: pointer;
        &:hover{
          background-color: #0075ff
        }
      }

       .search {
        width: 212px;
        height: 41px;
        position: relative;

        input {
            width: 85%;
            height: 100%;
            outline: none;
            border: 1px solid #cccccc;
            padding: 10px 0 10px 45px;
            border-radius: 10px;
            transition: 0.3s;

            &::placeholder {
                    transition: opacity var(--main-transition);
                }
            
                &:focus::placeholder {
                    opacity: 0;
                }
            &:focus {
                width: 100%;
            }
        }

        img {
            max-width: 100%;
            position: absolute;
            left: 8px;
            top: 6px;
        }
    }
    }
    
    @import "./product_table";

    .showMoreBtn{ 
      display: block;
      background: #003fa7 ;
      padding: 10px 20px;
      color: #fff;
      border-radius: 10px;
      margin: auto;
      margin-bottom: 30px;
      border: 0;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
        background-color: #0075ff
      }
    }
  }
}
