@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-family: "DM Sans", sans-serif;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font: inherit;
    border: 0;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    padding-top: 180px;
}

// maxin
@mixin media($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin media1($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin media2($breakpoint) {
  @media (min-width: $breakpoint){
    @content
}
}

@mixin flex_between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
    width: 90%;
    margin: auto;
    max-width: 1250px;

    @include media(1024px) {
        width: 90%;
    }
}
