:root {
    --main-color: #ff8716;
    --p-color: #7b7b7b;
    --bg-color: #F3F3F3;
    --white-color: #ffffff;
    --color-heading: #121416;
    --border-color: #e5e5e5d5;
    --se-color: #E51A1A;
}
// ! Start Utility
@import "./utility";

// ! Start Cart
@import "./cart";

// ! Start Header
@import "./header";

// ! Start Slide1
@import "./slide1";

// ! Start Banner
@import "./banner";

// ! Start Slider For Discount  
@import './sliderDiscount';

// ! Start Banner
@import './banner2';
// ! Start CheckOutPage
@import './checkout';
// ! Start Product Details
@import './product_details';
// ! Start footer
@import './footer';
// ! Start products

.head {
  .container {
    text-align: center;

    h2 {
      font-size: 24px;
      max-width: 483px;
      font-weight: 700;
      color: var(--main-color);
      margin: auto;
      margin-bottom: 17px;

      @include media2(767px) {
        font-size: 36px;
        max-width: 723px;
      }
    }

    p {
      font-size: 12px;
      font-weight: 450;
      max-width: 322px;
      margin: auto;

      @include media2(767px) {
        font-size: 18px;
        max-width: 517px;
      }
    }
  }
}
@import './container_filter';
// @import './downlistFilter';

