
/* ! Start Overlay */
.overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
.overlay.active {
  display: block;
}
/* ! Start Profile modal and Edit Modal */
#profileModal, #profileModalEdit {
  position: fixed;
  width: 300px;
padding: 20px;
  background: #fff;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 2;
  left: 50%;
  box-shadow: 0px 1px 11px 1px #877373;
  border-radius: 10px;
  display: none;
}
#profileModal.active, #profileModalEdit.active {
  display: block;
}

#profileModal .container, #profileModalEdit .container {
  padding: 10px;
  background: #fff;
  width: 100%;
  border-radius: 10px;
}

#profileModal .container h3, #profileModalEdit .container h3  {
  width: 100%;
  font-size: 22px;
}
#profileModal .container .box,  #profileModalEdit .container .box {
  margin-top: 10px;
}


#profileModal .container .box .addProductForm,  #profileModalEdit .container .box .editProductModal {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#profileModal .container .box .addProductForm label,
#profileModalEdit .container .box .editProductModal label  {
  font-size: 12px;
  padding-bottom: 3px;
}
#profileModal .container .box .addProductForm input,
#profileModalEdit .container .box .editProductModal input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #c5c2c2;
  margin-bottom: 10px;
}
#profileModal .container .box .addProductForm input:focus,
#profileModalEdit .container .box .editProductModal input:focus {
        border: 2px solid #d3b3b3
}
#profileModal .container .buttons,
#profileModalEdit .container .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  margin: 20px 10px 10px 0;
}

#profileModal .container .buttons button,
#profileModalEdit .container .buttons button {
  padding: 10px 18px;
  background: #d5d5d5;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  cursor: pointer;
  color: #fff;
}
#profileModal .container .buttons button:nth-child(1) {
  background-color: #2e1ed2;
}
#profileModal .container .buttons button:nth-child(2) {
  background-color: red;
}